$light-bg: #FAFAFA;
$light-text: #121212;
$dark-bg: #121212;
$dark-text: #FAFAFA;
$primary-color: #2979ff;
$green: #014E56;
$white: #fff;
$pink: #F67E7E;
$blue: #2C6269;
$dark-green: #002529;
$light-blue: #79C8C7;
$deep-blue: #012F34;
$dark-blue: #2C6269;
$deep-green: #004047;